services:
  php:
    image: oboumediane/tutoring-app-php:main
    pull_policy: always

#   build:
#     context: .
#     dockerfile: Dockerfile

    container_name: tutoring-php
    restart: unless-stopped
    env_file:
      - .env.prod
    depends_on:
      - postgres
    networks:
      - tutoring

  nginx:
     image: oboumediane/tutoring-app-nginx:main
     pull_policy: always

#   build:
#     context: .
#     dockerfile: nginx.Dockerfile

     container_name: tutoring-nginx
     restart: unless-stopped
     ports:
       - "8000:80"
     depends_on:
       - php
     networks:
       - tutoring

  postgres:
    image: postgres:18
    container_name: tutoring-db
    restart: unless-stopped
    env_file:
      - .env.prod
    environment:
      - POSTGRES_DB=${DB_DATABASE}
      - POSTGRES_USER=${DB_USERNAME}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    ports:
      - "6543:5432"
    volumes:
      - postgres-data:/var/lib/postgresql
    networks:
      - tutoring

  prometheus:
    image: prom/prometheus
    container_name: prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
    ports:
      - "9090:9090"
    restart: unless-stopped
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus-data:/prometheus
    networks:
      - tutoring

  grafana:
    image: grafana/grafana:12.3

    container_name: grafana
    restart: unless-stopped
    ports:
      - '3000:3000'
    volumes:
      - grafana-storage:/var/lib/grafana
    networks:
      - tutoring

  loki:
    image: grafana/loki:latest
    ports:
      - "3100:3100"
    command: -config.file=/etc/loki/local-config.yaml
    networks:
      - tutoring

networks:
  tutoring:
    driver: bridge

volumes:
  postgres-data:
  grafana-storage:
  prometheus-data:
