networks:
  tutoring:

services:
  nginx:
    image: nginx:stable-alpine
    container_name: nginx
    ports:
      - "8000:80"
    volumes:
      - ./:/var/www/html
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php
      - postgres
    networks:
      - tutoring
  postgres:
    image: postgres:18
    container_name: postgres
    restart: unless-stopped
    tty: true
    ports:
      - "6543:5432"
    volumes:
      - ./postgres:/var/lib/postgresql/18/docker
    environment:
      - POSTGRES_DB=tutoring
      - POSTGRES_USER=tutoring
      - POSTGRES_PASSWORD=tutoring
    networks:
      - tutoring

  php:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: php
    volumes:
      - ./:/var/www/html
    ports:
      - "9000:9000"
    networks:
      - tutoring

  composer:
    image: composer:latest
    container_name: composer
    volumes:
      - ./:/var/www/html
    working_dir: /var/www/html
    networks:
      - tutoring

  npm:
    image: node:24
    container_name: npm
    volumes:
      - ./:/var/www/html
    working_dir: /var/www/html
    entrypoint: ['npm']
    networks:
      - tutoring
