name: 'Production Pipeline'

on:
  release:
    types: [ published ]

jobs:
  push-docker-image:
    uses: ./.github/workflows/push-image.yml
    secrets: inherit

  deploy:
    needs: [push-docker-image]
    uses: ./.github/workflows/deploy.yml
    secrets: inherit
